@page "/"
@rendermode InteractiveServer
@* @inject IMyInterface myService *@

<PageTitle>Home</PageTitle>



<h1>Hello, world!</h1>
<button @onclick="IncrementCount">Click me</button>



Welcome to your new app.
@currentCount
@message

@code {
    private int currentCount = 0;
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
    //    message =  await myService.GetStringAsync();
    }


    private void IncrementCount()
    {
        currentCount++;
    }
}



