@page "/"

@inject IStudentsData studentsData
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if(students != null)
{ 
    <ul>
        @foreach (var student in students)
        {
            <li>@student.Name @student.Id @student.Email</li>
        }
    </ul>
}

Welcome to your new app.

<ServerSideCounter @rendermode="new InteractiveServerRenderMode()" />

@code {
    private List<Student>? students;

    protected override async Task OnInitializedAsync()
    {
       //students =  await studentsData.GetStudents();
    }

}
