@page "/counter"
@* @rendermode InteractiveAuto *@
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IMyInterface myService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@message

@code {
    private int currentCount = 0;
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        message = await myService.GetStringAsync();
    }


    private void IncrementCount()
    {
        currentCount++;
    }
}
